.display-none {
    display: none;
}
.display-block {
    display: block;
}

.background {
    background-color: rgba(red, green
    , blue, .2);
}

.content, .default-content, .hidden-first,iframe {
    width: 100%;
    height: 100%;
    /*border: 1px solid red;*/
}

