ul,
div {
    margin: 0px;
    padding: 0px;
}

#a {
    width: 900px;
    height: 700px;
    background-color: #fff;
    /*border:1px solid #63C; */
    margin: 0px auto;
}

#main-nav {
    width: 900px;
    height: 25px;
    border: #666 1px solid;
    margin: 0px auto;
    background-color: #73116f;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 2;
}

#main-nav ul li {
    width: 110px;
    height: 25px;
    text-align: center;
    border-right: #666 solid 1px;
    ;
    float: left;
}

#main-nav ul li a {
    display: block;
    color: #FFF;
    text-decoration: none;
    padding-top: 2px;
    font-size: 14px;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

#main-nav ul li:hover a {
    color: #EA4724;
    font-size: 18px;
    background-color: #394B96;
}

#main-nav ul li ul {
    display: none;
    position: absolute;
    left: 222px;
    top: 27px;
    width: 110px;
    background-color: #09c;
}

#main-nav ul li:hover ul {
    display: block
}

#main-nav ul li:hover ul li a {
    color: #FFF;
    display: block
}

#main-nav ul li:hover ul li:hover {
    text-decoration: none;
}

#main-nav ul li:hover ul li:hover a {
    color: #F00
}

#logo {
    width: 900px;
    height: 150px;
    border: 2px solid #63065f;
}

#logo img {
    width: 900px;
    height: 150px;
}

footer {
    width: 900px;
    height: 30px;
    background-color: #73116f;
    color: #fff;
    text-align: center;
    /*padding-top: 8px;*/
    line-height: 30px;
}